body {
  background-color: #FCF4A3 !important;
  margin-top: 80px !important;
  font-size: 13px !important;
}

.sidenav {
  border: 1px #3f704d;
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  color: #74d890;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 120px;
  background-color: white;
  box-shadow: 0 5px 8px 0 rgb(0 0 0 / 20%), 0 9px 26px 0 rgb(0 0 0 / 19%);
}

.sidenav a, .dropdown-btn  {
  padding: 15px 8px 15px 32px;
  text-decoration: none;
  font-size: 16px;
  display: block;
  transition: 0.3s;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none;
  color: #3f704d;
  letter-spacing: 1px;
  font-weight: bold;
}

.sidenav a:hover, .dropdown-btn:hover {
  color: #FCF4A3;
  background-color: #3f704d;
}

.sidenav .closebtn:hover {
  color: #3f704d !important;
  background-color: white !important;
}

.sidenav .closebtn {
  width: 0 !important;
  position: absolute;
  top: 75px;
  right: 30px;
  font-size: 30px;
  padding: 0;
}

.active {
  background-color: #3f704d;
  color: #FCF4A3;
}

.dropdown-container {
  display: none;
  /* background-color: #FCF4A3; */
  padding-left: 8px;
}

.dropdown-container a {
  font-size: 15px;
  padding-top: 8px;
  padding-bottom: 8px;
  font-weight: 700;
  letter-spacing: 2px;
  margin-left: 15px;
}

/* Optional: Style the caret down icon */
.fa-caret-down {
  float: right;
  padding-right: 8px;
}

#main {
  transition: padding-left .5s;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 16px;}
}

div.card {
  padding: 10px;
  margin: 10px 5px;
  font-size: 16px;
  box-shadow: 0 5px 8px 0 rgb(0 0 0 / 20%), 0 9px 26px 0 rgb(0 0 0 / 19%);
  border: 1px solid #28a745 !important;
  position: unset !important;
}

button:focus {
  outline: none !important;
}

.list{
  list-style-type: none;
}

/* Style the header with a grey background and some padding */
nav {
  /* overflow: hidden; */
  background-color: #3f704d !important;
  min-height: 80px !important;
  margin-bottom: 0 !important;
  border-radius: 0 !important;
}

.navbar-brand {
  padding:0 0 10px 0 !important;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";;
}

.navbar-toggler {
  font-size: 2rem !important;
  margin: 10px;
  float: right !important;
}

.navbar-brand>img#logo-navbar {
  display: inline !important;
}

div.login {
  width: 150px;
  margin: 100px;
}

/* Style the header links */
.header a {
  float: left;
  color: #FCF4A3 !important;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  line-height: 25px;
}

.header-right a{
  float: right !important;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding: 13px 10px !important;
  font-weight: 700px !important;
}

.header-right button{
  float: right !important;
  letter-spacing: 2px;
  text-transform: uppercase;
}

/* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
.header a.logo {
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 1px;
}

/* Change the background color on mouse-over */
.header-right a:hover {
  color: white !important;
}

/* Style the active/current link*/
.header a.active {
  background-color: lightgrey;
  color: white;
}

/* Float the link section to the right */
.header-right {
  float: right !important;
}

/* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
@media screen and (max-width: 500px) {
  body {
    width: 100%;
  }
}

@media (min-width: 300px){
  nav {
      min-width: 730px !important;
  }
}

.col, .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11 {
  position: unset !important;
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 78px;
  padding: 5px 2px;
  background-color:#FCF4A3;
  font-size: 20px;
}

a.dropdown-item {
  width: 195px;
  float: right !important;
  letter-spacing: 0;
  text-transform: none;
  padding: 2px 20px !important;
  font-size: 12px;
  text-align: left;
  background-color: #3f704d;
}

a.dropdown-item:hover {
  background-color: #FCF4A3 !important;
  color: #3f704d !important;
}

img#logo-navbar {
  width: 70px;
  border-radius: 50%;
  height: 60px;
  padding: 5px;
  margin-top: -5px;
}

img#profile {
  width: 40px;
  border-radius: 50%;
  height: 30px;
  padding: 1px 5px;
}

img#logo-login {
  width: 30%;
  border-radius: 50%;
  height: 30%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

div.container {
  max-width: 98% !important;
  padding: 10px;
}

/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {height: 450px}

.login-container{
  margin: 5% auto;
  width: 40%;
  padding: 10px;
}

.login-form-1{
  background-color: #fff !important;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}
.login-form-1 h3{
  text-align: center;
  color: #333;
}
.login-container form{
  padding: 10%;
}
.btnSubmit
{ 
  width: 50%;
  border-radius: 1rem;
  padding: 1.5%;
  border: none;
  cursor: pointer;
  text-align: center;
  letter-spacing: 5px;
  font-weight: 800 !important;
  font-size: 15px;
}
.login-form-1 .btnSubmit{
  font-weight: 600;
  color: #fff;
  background-color: #3f704d;
  width: 100%;
  border-radius: 5px;
  padding: 10px;
  font-size: 15px;
}

.login-form-1 .form-control {
  font-size: 15px !important;
  padding: 20px !important;
  background-color: #eee !important;
  border-radius: 5px !important;
  color: black !important;
}

/* Set black background color, white text and some padding */
footer {  
  background-color: #3f704d;
  color: #FCF4A3;
  padding: 15px;
  position: relative;
  bottom: 0;
  font-size: 14px;
  letter-spacing: 1px;
}

.site-footer h6
{
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}

table th {
  font-size: 17px !important;
  padding: 15px !important;
  color: #FCF4A3 !important;
  letter-spacing: 1px;
  background-color: #3f704d !important;
}

table td {
  font-size: 15px !important;
  padding: 10px !important;
}
tfoot input {
  font-size: 13px;
  padding: 3px;
  box-sizing: border-box;
}

td.center{
  text-align: center;
  width: 20%;
}

table#paymentTable th {
  font-size: 15px !important;
  padding: 5px !important;
}

table#paymentTable td {
  color: #FCF4A3 !important;
  font-size: 14px !important;
  padding: 5px !important;
}

h2 {
  text-align: center;
  font-weight: 900 !important;
  font-size: 25px !important;
}

label {
  font-size: 15px;
  /* margin-bottom: 1rem !important;
  letter-spacing: 1px !important; */
}

label.search {
  font-size: 14px;
  letter-spacing: 1px;
}

label.entries {
  font-size: 14px;
  letter-spacing: 1px;
}

#search-input {
  text-align: left !important;
}

div.right {
  text-align: right;
  margin: 0;
}

#enrollment-form {
  padding: 3%;
  background-color: #3f704d;
  color: #FCF4A3;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 1px;
}

#enrollment-form .form-control {
  font-size: 15px;
  border-radius: 5px;
  margin: 5px 0;
  letter-spacing: 1px;
}

#enrollment-form select.form-control, #enrollment-form .image  {
  font-size: 15px;
  padding: 2px;
  height: 33px;
}

#enrollment-form label {
  font-size: 14px !important;
}

label span {
  font-size: 30px;
  text-decoration: underline;
}

div.title-id {
  text-align: right;
}

.btn-lg {
  font-size: 15px !important;
}

.btn-md {
  font-size: 13px !important;
}

.btn-add {
  letter-spacing: 3px;
  padding: 5px 20px !important;
  background-color: #3f704d !important;
  color: #FCF4A3 !important;
  font-weight: 700 !important;
}

.btn-add:hover {
  background-color: #315a3d !important;
  color: white !important;
}

.card-body {
  text-align: center !important;
}

td a, td button {
  padding: 5px 10px !important;
}

table#dataTable {
  width: 100% !important;
}

.btn-group button {
  font-size: 12px !important;
  letter-spacing: 1px;
}

a:hover {
  text-decoration: none !important;
}

.triangle-right {
  height: 5px;
  clip-path: polygon(0% 0%, 75% 0%, 80% 50%, 75% 100%, 0% 100%);
  background-color: black;
  letter-spacing: 2px;
}

.hover {
  background: #3f704d3a !important;
}

.btn-group .btn {
  border-radius: 2.25rem;
}

.btn-login, .btn-cancel {
  width: 100%;
  font-size: 2rem !important;
}

.btn-login {
  background-color: #3f704d !important;
}

.btn-login:hover {
  background-color: #315a3d !important;
}

#myModal .modal-content{
  background-color: #3f704d !important;
}

#myModal .modal-title{
  color: #FCF4A3 !important;
}

.dataTables_wrapper {
  position: unset !important;
}

.glyphicon {
  position: unset !important;
}

.btn-addClass {
  background-color: #3f704d !important;
}

.btn-addClass h2 {
  color: white !important;
  letter-spacing: 2px;
}