body {
    background-color: white !important;
    margin-top: 80px !important;
    font-size: 13px !important;
    font-family: Arial;
}
.glyphicon {
    font-size: 30px;
    color: #FCF4A3;
}
.glyphicon:hover {
    color: #3f704d;
}
footer {
    left: 0;
    width: 100%;
    padding: 30px;
    background-color: #3f704d;
    color: #FCF4A3;
    text-align: center;
    font-size: 15px;
}
#aboutUsText {
    font-size: 17px;
    color: #3f704d;
    text-align: center;
    margin-right: 15px;
    margin-left: 15px;
}
#text {
    font-size: 23px;
    color: #3f704d;
    text-align: center;
    margin-right: 15px;
    margin-left: 15px;
}

#aboutUs {
    color: #3f704d;
    text-align: center;
    font-size: 30px;
}

#myModal {
    left: 50%;
    top: 65%;
    transform: translate(-50%, -50%);
}

#cursor {
    position: absolute;
    top: 50%;
    left: 63%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background: transparent;
    line-height: 40px;
    margin-left: 3px;
    -webkit-animation: blink 0.8s infinite;
    width: 5px;
    height: 50px;
}
.jumbotron { 
    background: url("/images/kid.jpg") center center / cover no-repeat;
    color: white;
    height: 85rem;
    padding: 360px 2rem 0 2rem !important;
}
#info p ,h2{
    font-size: 18px; 
    color: #3f704d;
}
.text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}
html {
    scroll-behavior: smooth;
}
.btn-primary {
    border-color: #FCF4A3 !important;
    cursor: pointer;
    background-color: #3f704d !important;
    color: #FCF4A3 !important;
    padding: 1em 2.1em 1.1em !important;
    border-radius: 3px !important;
    margin: 8px 8px 8px 8px !important;
}
.btn-primary:hover {
    background-color: #315a3d !important;
}

.glyphicon {
    margin: 5px;
}

.glyphicon:hover {
    color: #FCF4A3 !important;
}
.glyphicon-chevron-right, .glyphicon-chevron-left {
    margin-top: 200px !important;
}
.lead{
    color: white;   
}
.lead:hover{
    color:  #3f704d; 
}
* {
    box-sizing: border-box;
}
.column {
    float: left;
    width: 25%;
    padding: 0 10px;
    background-color: #ffc266; 
}
.row {margin: 0 -5px;}
.row:after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width: 600px) {
    .column {
        width: 100%;
        display: block;
        margin-bottom: 20px;
    }
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: #f1f1f1;
}
.card-title {
    color: #3f704d !important;
}
.carousel-control {
    width: 3%;
    position: absolute;
}
.carousel-control:focus, .carousel-control:hover {
    color: black;
    text-decoration: none;
    outline: 0;
    filter: alpha(opacity=90);
    opacity: 1;
}
ol.carousel-indicators {
    position: absolute;
    bottom: 0;
    margin: 0;
    left: 0;
    right: 0;
    width: auto;
}
ol.carousel-indicators li,
ol.carousel-indicators li.active {
    float: left;
    width: 33%;
    height: 10px;
    margin: 0;
    border-radius: 0;
    border: 0;
    background: black;
    opacity: 0.6;
}
ol.carousel-indicators li.active {
    background: #3f704d;
}
.glyphicon-chevron-left:before {
    content: "\e079";
    color: black;
}
.glyphicon-chevron-right:before {
    content: "\e080";
    color: black;
}   
div.container-carousel {
    margin: 0 5px;
    max-width: 100% !important;
    padding: 10px 0;
}
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #3f704d;
}
.overlay:hover {
    opacity: 0.6;
}
.btn-login {
    border-color: #28a745 !important;
}

.btn-group .btn-login:hover {
    background-color: #28a745 !important;
}
hr.style-one {
    border: 0;
    height: 1px;
    background: #ccc;
    background-image: -webkit-linear-gradient(left, #ccc, rgb(126, 126, 126), #ccc);
    background-image: -moz-linear-gradient(left, #ccc, #333, #ccc);
    background-image: -ms-linear-gradient(left, #ccc, #333, #ccc);
    background-image: -o-linear-gradient(left, #ccc, #333, #ccc);
}

.card-img-top {
    width: 100%;
    height: 300px;
} 

.glyphicon-question-sign:hover, .glyphicon-star-empty:hover, .glyphicon-education:hover, .glyphicon-check:hover, .glyphicon-heart:hover {
    color: #3f704d !important;
}

.scroll {
    color: #fff;
    margin-top: 100px
}

#toTopBtn {
    position: fixed;
    bottom: 26px;
    right: 100px;
    z-index: 98;
    padding: 21px;
    background-color: #28a745;
}

.js .cd-top--fade-out {
    opacity: .5
}

.js .cd-top--is-visible {
    visibility: visible;
    opacity: 1
}

.js .cd-top {
    visibility: hidden;
    opacity: 0;
    transition: opacity .3s, visibility .3s, background-color .3s
}

.cd-top {
    position: fixed;
    bottom: 20px;
    bottom: var(--cd-back-to-top-margin);
    right: 20px;
    right: var(--cd-back-to-top-margin);
    display: inline-block;
    height: 40px;
    height: var(--cd-back-to-top-size);
    width: 40px;
    width: var(--cd-back-to-top-size);
    box-shadow: 0 0 10px rgba(0, 0, 0, .05) !important;
    background: url(https://res.cloudinary.com/dxfq3iotg/image/upload/v1571057658/cd-top-arrow.svg) no-repeat center 50%;
    background-color: hsla(5, 76%, 62%, .8);
    background-color: hsla(var(--cd-color-3-h), var(--cd-color-3-s), var(--cd-color-3-l), 0.8)
}
pre{
    background-color: white !important;
    font-size: 17px !important;
    font-family: Arial !important;
    color: green  !important;
    border-color: white !important;
    padding:0 20px !important;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif !important;
}

#announcementModal .modal-dialog {
    max-width: 800px !important;
    margin: 60px auto !important;
}